{% extends "main.html" %}

{% block content %}

<h1>{{ title }}</h1>
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="/edit/{{ user.id }}">Editar</a>
                    <a href="/delete/{{ user.id }}">Excluir</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}